		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>School Id</th>
					<th>Select Child</th>
			</thead>
			<tbody>
				<% Child.where(:id => @school_id).each do |c| %>
							<tr>
								<td><%= c.name %></td>
								<td><%= c.school_id %></td>
								<td>
								</td>
							</tr>
						<% end %>
			</tbody>
		</table>

