<h1>Listing purchase_meals</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_meals.each do |purchase_meal| %>
      <tr>
        <td><%= link_to 'Show', purchase_meal %></td>
        <td><%= link_to 'Edit', edit_purchase_meal_path(purchase_meal) %></td>
        <td><%= link_to 'Destroy', purchase_meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase meal', new_purchase_meal_path %>
