<header>
	<%= render 'layouts/navigation2' %>
</header>

<body class="body2">		
	<div class="main2">
		<h1 class="text-center">Welcome to Yummy Tummies!</h1>
		<br/>
			<strong class="text-center">Concerned about your child's health and wellness? Want to make a difference when it comes to eating 
				healthy and nutrtious meals? Then Yummy Tummies is for you! Here we strive to provide local ingredients
				and home cooked meals so that your Child will be eating happier and healthier for every meal! Interested?
				Press the sign up button below to create an account, or the login button if you already have one.</strong>
		<br/>		
		<br/>
			<strong class="text-center">Don't have a Yummy Tummies provider near you but want to get started? Click the Register
				button and we'll get you on your way of starting your own franchise!</strong>

		<br/>
		<br/>
			<p id="action" class="lead text-center">
				<a href="#newsessionmodal-form" class="btn btn-primary btn-lg custombtnblock"data-toggle="modal">Login</a>
				<%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary btn-lg custombtnblock' %>
			</p>
	</div>
</body>
<%= render :partial => 'new' %>
