<header>
	<%= render 'layouts/navigation' %>
</header>

<h1>Tell us how your child's meal was!</h1>

<strong>We are very interested in your feedback! Please enter the feedback and a short
	description and we'll get back to you as soon as we can!</strong>

<%= render 'form' %>

<%= link_to 'Back', feedbacks_path %>
