<header>
	<%= render 'layouts/navigation' %>
</header>

<h1>Schools in your Area:</h1>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>School Name</th>
			<th>Zipcode</th>
			<th>Display Students</th>
		</tr>
	</thead>
	<tbody>
		<% School.where(:zipcode => current_user.zipcode).each do |schools| %>
		<tr>
			<td><%= schools.name%></td>
			<td><%= schools.zipcode%></td>
			<td><%= link_to 'Display Students', schools, :class => "btn btn-primary btn-block" %></td>
		</tr>
		<% end %>
	</tbody>











